@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "Ubuntu";
  src: url('../public/fonts/Ubuntu-Regular.ttf');
  font-weight: 400;
}



@font-face{
  font-family: "Ubuntu";
  src: url('../public/fonts/Ubuntu-Medium.ttf');
  font-weight: 500;
}

@font-face{
  font-family: "Ubuntu";
  src: url('../public/fonts/Ubuntu-Bold.ttf');
  font-weight: 700;
}

*{
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.progress{
  background-image: url('../public/images/bg-sidebar-mobile.svg');
}

@media(min-width: 640px){
  .progress{
    background-image: url('../public/images/bg-sidebar-desktop.svg');
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.next-step-button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}